[server]
port = ":8433"

[auth]
enabled = true
redis_url = "redis://localhost:31337"
token_header = "Authorization"
token_key_template = "auth:{course}:{student}"

[database]
# dsn = "postgres://postgres:password@localhost:9432/postgres?sslmode=disable"
dsn = "/tmp/kanelbullesqlite.db"

[api]
student_id_header = "X-STUDENT"
required_headers = [
  { name = "X-SECRET", value = "let me in!" },
  { name = "X-What-Ever", value = "nooo"}
]

[bot]
token = "1000000000:AAA-777-eeeeeeeeeeeeeeeeeeeeeeeeeee"
admin_ids = [123456789, 98765432]

[events]
start = "000_lab_start"
finish = "100_lab_finish"

[scoring]
default_late_penalty = 0.5
max_late_days = 7
extra_late_penalty = 1

[scoring.late_days_modifiers]
0 = 0
1 = -3
2 = -5

[display]
timestamp_format = "YYYY-MM-DD HH24:MI:SS"
go_timestamp_format = "2006-01-02 15:04:05"
emoji_variants = ["🤖", "🦄", "🐕", "🔬", "🐉", "🦥", "🐙", "🐈", "🎓", "🐊", "🦊"]

[[gsheet.TECH01]]
schedule = "*/5 7-22 * * *"
course = "TECH01"
sheet_id = "1HqV8HkSX.....................Gd0DYquVCcWREI"
credentials_path = "/config/creds.json"
sheet_name = "Ведомость"
students_range = "B6:B18"
labs_range = "C6:E18"
timestamp_range = "A1:B1"
scoring = false
labs_list = ["00", "01", "02"]
